* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --code-editor-padding: 16px;
  --thumb-color: ;
}

::selection {
  background: #308fb85e;
}

body {
  font-size: 10px;
  font-family: monospace;
  -webkit-user-select: none;
  user-select: none;
}

.code-editor-container {
  background: #1c212c;
  max-width: 1024px;
  margin: 30px;
  /* max-height: 400px; */
  position: relative;
  /* border-radius: 8px; */
}

.files {
  display: flex;
  color: #b3e97f;
}

.files .file {
  font-family: sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  opacity: 0.6;
}

.files .file .close {
  font-size: 16px;
  width: 16px;
  text-align: center;
  border-radius: 2px;
  color: white;
}

.files .file .close:hover {
  background: #ffffff13;
}

.files .file.js::before {
  content: "JS";
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: 500;
  color: #ffd500e9;
}
.files .file.css::before {
  content: "#";
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: 500;
  color: #3090b8;
}

.files .file.active {
  background: #212836;
  opacity: 1;
}

.files .file:hover {
  background: #303c54;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 600px;
  max-height: 600px;
}

.code-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: var(--code-editor-padding);
  background: #212836;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  transition: 0.3s;
  padding-bottom: 21px;
}

.code-wrapper .line-numbers {
  width: max-content;
  background: #212836;
  position: sticky;
  left: 0;
  /* z-index: 999; */
  height: max-content;
}

.code-wrapper .line-numbers span {
  font-family: monospace;
  display: block;
  text-align: right;
  min-width: 60px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 21px;
  color: rgb(48, 60, 84);
}

.code-wrapper .line-numbers span.highlighted {
  color: #8292a9;
}

.code-wrapper .line-numbers span.highlighted::after {
  content: "";
  display: inline;
  position: absolute;
  height: 21px;
  width: var(--width, 0);
  left: var(--left, 60px);
  z-index: 0;
  background: #8292a9;
  background: #79a4e31f;
}

.code-input-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  height: max-content;
}

.bottom-panel {
  position: relative;
}
.scrollbar {
  top: -16px;
  right: 16px;
  left: var(--offsetleft);
  width: 100%;
  height: 16px;
  background-color: transparent;
  position: absolute;
  z-index: 999;
  flex-shrink: 0;
  visibility: hidden;
}

.scrollbar-thumb {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 16px;
  cursor: pointer;
}

.scrollbar-thumb:hover,
.scrollbar-thumb:active {
  background: #5c6782c5;
}

.scrollbar-thumb:active {
  cursor: grabbing;
}

#codeinput {
  min-width: 100%;
  width: max-content;
  flex-shrink: 0;
  flex-grow: 1;
  background: none;
  border: 0;
  resize: none;
  outline: none;
  caret-color: white;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 21px;
  /* height: max-content; */
  word-wrap: unset;
  overflow: hidden;
  display: inline-block;
  -webkit-user-select: text;
  user-select: text;
  padding-right: 60px;
}

#codeinput div {
  cursor: text;
  outline: none;
  border: none;
  background: none;
  display: block;
  min-width: 100%;
  width: max-content;
  margin: 0;
  line-height: 21px;
  color: inherit;
  font-family: inherit;
  overflow: hidden;
  white-space: pre;
  padding-right: 15vw;
}

#codeinput code.highlighted {
  background: #79a4e31f;
}
/* code-info */

.code-info {
  background: #1c212c;
  display: flex;
  flex-direction: row;
  padding: 2px 10px;
  justify-content: flex-end;
  gap: 6px;
  z-index: 99;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.code-info-item {
  padding: 6px;
  cursor: pointer;
  color: #8292a9;
  font-size: 12px;
  line-height: 1.1;
  font-weight: 400;
  font-family: sans-serif;
}

.code-info-item:hover {
  background: #303c5429;
}

#codeinput::-webkit-scrollbar,
.code-input-wrapper::-webkit-scrollbar {
  width: 16px;
  background: transparent;
}

.code-wrapper::-webkit-scrollbar {
  width: 16px;
  border-left: 1px solid #303c54;
  background: transparent;
}
#codeinput::-webkit-scrollbar-thumb,
.code-wrapper::-webkit-scrollbar-thumb,
.code-input-wrapper::-webkit-scrollbar-thumb,
.scrollbar-thumb {
  background: #5c678278;
}

.code-wrapper::-webkit-scrollbar-thumb:active,
.code-wrapper::-webkit-scrollbar-thumb:hover,
.code-input-wrapper::-webkit-scrollbar-thumb:active,
.code-input-wrapper::-webkit-scrollbar-thumb:hover {
  background: #5c6782c5;
}

.code-wrapper::-webkit-scrollbar-corner {
  display: none;
  border-left: 1px solid #303c54;
}

.fullscreenToggle {
  display: block;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%238292a9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19H5v-5m9-9h5v5"%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.fullscreenToggle:hover,
span.maximize:hover,
span.close-console:hover {
  outline: 1px solid #ffffff13;
}

.fullscreenToggle.active {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"  viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%238292a9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 14h5v5m9-9h-5V5"%2F%3E%3C%2Fsvg%3E');
}

.code-editor-container.fullscreen {
  max-width: 100vw;
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: static;
}

.code-editor-container.fullscreen .input-wrapper {
  display: flex;
  margin-bottom: 40px;
}

/* .code-editor-container.fullscreen .code-wrapper {
  height: calc(100vh - 36px - 30px);
  max-height: 100vh;
} */

/* .code-editor-container.fullscreen #codeinput {
  height: auto;
  max-height: max-content;
} */

.code-editor-container.fullscreen .main-wrapper {
  height: 100vh;
  max-height: 100vh;
}

.code-editor-container.fullscreen .console-wrapper {
  min-height: 68px;
}

/* Console style --> https://github.com/kurnia-dev/javascript-console/ */

.resizer {
  position: sticky;
  top: 0;
  background: #1c212c;
  height: 3px;
  cursor: ns-resize;
}

.resizer:hover,
.resizer:active {
  background: #303c54;
}
.menu-bar {
  -webkit-user-select: none;
  user-select: none;
  padding: 6px 0 16px;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 3px; /* from resizer height */
  background: #1c212c;
}

.menu-bar .title {
  cursor: pointer;
  display: block;
  padding: 4px 2px;
  width: max-content;
  text-transform: uppercase;
  border-bottom: 1px solid #ffe198;
}

.menu-bar-buttons {
  cursor: pointer;
  display: flex;
  gap: 14px;
  align-items: center;
}
.menu-bar-buttons span {
  display: block;
  width: 16px;
  height: 16px;
}

.menu-bar-buttons span.maximize {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 48 48"%3E%3Cpath fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="m13 30l12-12l12 12"%2F%3E%3C%2Fsvg%3E');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-bar-buttons span.close-console {
  background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="14" height="14" viewBox="0 0 24 24"%3E%3Cpath fill="white" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z"%2F%3E%3C%2Fsvg%3E');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.console-output .info {
  flex-direction: column;
}

.info ul {
  list-style: circle;
  margin: 20px 0 0 80px;
}

.info li {
  padding: 6px 0;
}

.console-wrapper {
  background: #1c212c;
  color: white;
  border: 1px solid #fff2ff1b;
  border-radius: 2px;
  /* height: 300px; */
  overflow-y: auto;
  font-size: 1.4em;
  font-family: monospace;
  padding: 0;
  /* work on firefox */
  scrollbar-width: none;
  /* position: absolute;
  width: 100%;
  
  z-index: 999; */
  height: 300px;
  max-height: 560px;
  /* min-height: 47px; */
  padding-bottom: 30px;
  flex-shrink: 0;
}

::-webkit-scrollbar {
  /* work on chrome and edge */
  width: 0;
}

textarea.console-input {
  background: none;
  outline: none;
  color: inherit;
  box-sizing: border-box;
  caret-color: #fff2ff68;
  width: 100%;
  resize: none;
  overflow: hidden;
  margin: 0;
  font-size: inherit;
  border: none;
}

.input-wrapper,
.console-history > * {
  padding: 8px 16px;
  border-bottom: 1px solid #fff2ff0a;
  display: flex;
  gap: 6px;
}

.console-history > *::before,
.input-wrapper::before {
  letter-spacing: -4px;
  font-weight: bold;
  width: 1em;
  flex-shrink: 0; /* to maintain the width from shrinking */
}

.console-history .console-input,
textarea.console-input {
  color: #fcaeff;
}

.console-history .console-input::before,
.input-wrapper::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 256 256"%3E%3Cpath fill="%23e867ec" d="m184.49 136.49l-80 80a12 12 0 0 1-17-17L159 128L87.51 56.49a12 12 0 1 1 17-17l80 80a12 12 0 0 1-.02 17Z"%2F%3E%3C%2Fsvg%3E');
  color: #e867ec;
}

.console-history .console-output::before {
  content: "<-  ";
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"  viewBox="0 0 24 24"%3E%3Cg fill="none" stroke="%23ffe198" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"%3E%3Cpath d="m13 19l-6-7l6-7"%2F%3E%3Cpath d="m17 19l-6-7l6-7" opacity=".5"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  color: #ffe198;
}

.input-wrapper {
  display: flex;
}

.console-output.error {
  color: #ff3b3b;
}

.console-output.error::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"  viewBox="0 0 36 36"%3E%3Cpath fill="%23ff7272" d="M18 6a12 12 0 1 0 12 12A12 12 0 0 0 18 6Zm-1.49 6a1.49 1.49 0 0 1 3 0v6.89a1.49 1.49 0 1 1-3 0ZM18 25.5a1.72 1.72 0 1 1 1.72-1.72A1.72 1.72 0 0 1 18 25.5Z" class="clr-i-solid clr-i-solid-path-1"%2F%3E%3Cpath fill="none" d="M0 0h36v36H0z"%2F%3E%3C%2Fsvg%3E');
}

.console-output.undefined {
  color: #d0d0d0ab;
}

@media screen and (max-width: 580px) {
  .console-wrapper {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 380px) {
  .console-wrapper {
    font-size: 1em;
  }
}

.copy-btn-popup {
  /* background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 24 24"%3E%3Cpath fill="rgba(255%2C 255%2C 255%2C 0.8)" fill-rule="evenodd" d="m15.65 4.263l.813.101a3.75 3.75 0 0 1 3.287 3.721v10.49a3.641 3.641 0 0 1-3.191 3.613c-3.028.377-6.09.377-9.118 0a3.641 3.641 0 0 1-3.191-3.613V8.085a3.75 3.75 0 0 1 3.287-3.72l.813-.102A2.751 2.751 0 0 1 11 2.25h2a2.75 2.75 0 0 1 2.65 2.013Zm-7.4 1.524l-.528.066A2.25 2.25 0 0 0 5.75 8.085v10.49c0 1.08.805 1.991 1.876 2.125a35.39 35.39 0 0 0 8.747 0a2.141 2.141 0 0 0 1.877-2.125V8.085a2.25 2.25 0 0 0-1.972-2.232l-.528-.066V7a.75.75 0 0 1-.75.75H9A.75.75 0 0 1 8.25 7V5.787ZM9.75 5c0-.69.56-1.25 1.25-1.25h2c.69 0 1.25.56 1.25 1.25v1.25h-4.5V5Z" clip-rule="evenodd"%2F%3E%3Cpath fill="rgba(255%2C 255%2C 255%2C 0.8)" d="M15.75 11.75A.75.75 0 0 0 15 11H9a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 .75-.75Zm-1 3A.75.75 0 0 0 14 14H9a.75.75 0 0 0 0 1.5h5a.75.75 0 0 0 .75-.75Z"%2F%3E%3C%2Fsvg%3E'); */
  /* background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"  viewBox="0 0 24 24"%3E%3Cg fill="none"%3E%3Cpath d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"%2F%3E%3Cpath fill="white" d="M19 2a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-2v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h2V4a2 2 0 0 1 2-2h10Zm-9 13H8a1 1 0 0 0-.117 1.993L8 17h2a1 1 0 0 0 .117-1.993L10 15Zm9-11H9v2h6a2 2 0 0 1 2 2v8h2V4Zm-7 7H8a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2Z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E'); */
  /* background: url(icon/copy.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  position: absolute;
  transition: 0.1s;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  /* height: 22px;
  width: 20px; */
  padding: 4px 4px;
  margin-top: 6px;
  color: white;
  font-size: 12px;
  z-index: 9999999;
  border-radius: 5px;
  background: #303c54;
  box-shadow: 0px 4px 3px -1px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
}

.copy-btn-popup img {
  width: 20px;
}
.console-history {
  -webkit-user-select: text;
  user-select: text;
}
